.theme-button{
    border: 1px solid;
    border-radius: 5px;
}



.light{
    color:black;
}
.dark{
    color:white;
}
.bg_light{
    background:white;
}

.bg_dark{
    background:black;
}

.light a{
    color:black;
}
.dark a{
    color:white;
}



table{
    overflow-x:auto;
    border-spacing: 20px 20px;
}

td{
    font-size:24px;

}


h3 {
    text-align: center;
}

img{
    border-radius: 10px;
}
video{
    width: 80%;   
}
p{
    text-align: center;
}